@import "../../styles/colors";

.buttonWrapper {
    position: relative;
    min-width: 12rem;
    height: 5rem;
    overflow: hidden;
    padding: 0;
    display: inline-block;
    border: none;

    & .button {
        min-width: 12rem;
        height: 5rem;
        overflow: hidden;
        padding: 0 5rem;
        border: none;
        border-width: 0.1rem;
        border-style: solid;
        outline: 0;
        background-color: transparent;
        transition-property: background-color, box-shadow, border-color;
        transition-duration: 0.2s;
        transition-timing-function: ease;

        &:not([disabled]) {
            cursor: pointer;
        }

        &.fullWidth {
            width: 100%;
        }

        & span {
            transition: color 0.2s ease;
        }

        &.primary {
            border-color: transparent;
            background-color: var(--color-armadillo);
            color: var(--color-white);

            &:enabled:hover:not(.loading) {
                background-color: color(var(--color-armadillo) alpha(0.8));
            }

            &:enabled:active:not(.loading),
            &:enabled:focus:not(:hover):not(.loading) {
                background-color: var(--color-dune);
            }

            &[disabled]:not(.loading) {
                background-color: color(var(--color-armadillo) alpha(0.2));
            }
        }

        &.secondary {
            border-color: var(--color-armadillo);

            &:enabled:hover:not(.loading) {
                border-color: color(var(--color-armadillo) alpha(0.6));

                & span {
                    color: color(var(--color-black) alpha(0.8));
                }
            }

            &:enabled:active:not(.loading),
            &:enabled:focus:not(:hover):not(.loading) {
                border-color: var(--color-armadillo);
                box-shadow: inset 0 0 0 0.1rem var(--color-armadillo);

                & span {
                    color: var(--color-black);
                }
            }

            &:disabled:not(.loading),
            &[disabled]:not(.loading) {
                opacity: 0.3;
            }
        }

        &.primary,
        &.secondary {
            &.feedback {
                border-color: transparent;
                background-color: color(var(--color-armadillo) alpha(0.2));
                color: var(--color-white);
            }
        }

        &.tertiary {
            border-color: var(--color-white);
            color: var(--color-white);

            &:enabled:hover:not(.loading) {
                border-color: color(var(--color-white) alpha(0.6));

                & span {
                    color: color(var(--color-white) alpha(0.8));
                }
            }

            &:enabled:active:not(.loading),
            &:enabled:focus:not(:hover):not(.loading) {
                box-shadow: inset 0 0 0 0.1rem var(--color-white);
            }

            &:disabled:not(.loading),
            &[disabled]:not(.loading) {
                border-color: color(var(--color-white) alpha(0.3));

                & span {
                    color: color(var(--color-white) alpha(0.5));
                }
            }
        }

        &.negative {
            border-color: transparent;
            background-color: var(--color-white);
            color: var(--color-armadillo);

            &:enabled:hover:not(.loading) {
                opacity: 0.6;

                & span {
                    opacity: 1;
                }
            }

            &:enabled:active:not(.loading),
            &:enabled:focus:not(:hover):not(.loading) {
                opacity: 1;
                box-shadow: 0 0 0 0.3rem color(var(--color-white) alpha(0.3));
            }

            &:disabled:not(.loading),
            &[disabled]:not(.loading) {
                background-color: color(var(--color-white) alpha(0.2));

                & span {
                    opacity: 0.5;
                }
            }
        }

        &.tertiary,
        &.negative {
            &.feedback {
                border-color: transparent;
                background-color: color(var(--color-white) alpha(0.2));
                color: color(var(--color-white) alpha(0.8));
            }
        }
    }

    & .progressBar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    & .successBlock,
    & .errorBlock {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        transform: translateY(100%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 0.1rem;
        border-color: transparent;

        &.feedback {
            transition: transform 0.2s ease;
        }

        & .feedbackIcon {
            font-size: 1.6rem;
        }
    }

    &.primary,
    &.secondary {
        & .progressBar {
            background-color: color(var(--color-armadillo) alpha(0.2));
        }

        & .successBlock {
            background-color: var(--color-ocean-green);

            & .checkmark svg g path {
                stroke: var(--color-white);
            }
        }

        & .errorBlock {
            background-color: var(--color-monza);

            & .cross svg g path {
                stroke: var(--color-white);
            }
        }
    }

    &.tertiary,
    &.negative {
        & .progressBar {
            background-color: color(var(--color-white) alpha(0.2));
        }

        & .successBlock {
            background-color: var(--color-white);

            & .checkmark {
                stroke: var(--color-ocean-green);
            }
        }

        & .errorBlock {
            background-color: var(--color-white);

            & .cross {
                stroke: var(--color-monza);
            }
        }
    }

    & .cross {
        transform: rotate(270deg);
    }

    & .checkmark,
    & .cross {
        font-size: 1rem;
        transition: stroke-dashoffset 0.2s linear 0.2s;
        stroke-dasharray: 20;
        stroke-dashoffset: 20;
    }

    &.success {
        & .successBlock {
            transform: translateY(0);

            & .checkmark {
                stroke-dashoffset: 0;
            }
        }
    }

    &.error {
        & .errorBlock {
            transform: translateY(0);

            & .cross {
                stroke-dashoffset: 0;
            }
        }
    }
}
