@import "../../styles/colors";
@import "../../styles/mixins/shapes";
@import "../../styles/mixins/typography";

.container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.bottom {
        flex-direction: column;

        & .label {
            margin-top: 1.5rem;
        }
    }

    &.top {
        flex-direction: column-reverse;

        & .label {
            margin-bottom: 1.5rem;
        }
    }

    &.right {
        flex-direction: row;

        & .label {
            margin-left: 2rem;
        }
    }

    &.left {
        flex-direction: row-reverse;

        & .label {
            margin-right: 2rem;
        }
    }

    & .hidden {
        display: none;
    }

    & .label {
        opacity: 0.5;
        color: var(--color-mineral-green);
        @mixin typography-body-2 rem;
        transition: opacity 0.2s ease;
    }

    & .circleWrapper {
        position: relative;

        & .circle::after,
        & .avatarPlaceholder::after {
            transition: background-color 0.2s ease;
        }

        & .imageOverlay {
            will-change: opacity;
            @mixin circular-shape 100%, color(var(--color-mineral-green) alpha(0.8));
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            opacity: 0;
            font-size: 2rem;
            transition: opacity 0.2s ease;

            & .icon {
                font-size: 1.5em;
                fill: var(--color-white);
            }
        }

        & .smallCircle {
            @mixin circular-shape 1.9em, var(--color-white);
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            margin: 0.1rem;
            border: 1px solid color(var(--color-mineral-green) alpha(0.2));
            font-size: 1rem;

            & .icon {
                font-size: 1.5em;
                fill: var(--color-mineral-green);
            }
        }

        & .avatarPlaceholder {
            @mixin circular-shape 4em, var(--color-white);
            font-size: 2rem;

            &::after {
                @mixin circular-shape 4em, color(var(--color-mineral-green) alpha(0.2));
                content: "";
                position: absolute;
                top: 0;
                left: 0;
            }

            & .icon {
                font-size: 1.5em;
                fill: var(--color-mineral-green);
                fill-opacity: 0.8;
            }
        }
    }

    &:hover {
        cursor: pointer;

        & .circleWrapper {
            & .circle::after,
            & .avatarPlaceholder::after {
                background-color: color(var(--color-mineral-green) alpha(0.4));
            }

            & .imageOverlay {
                opacity: 1;
            }
        }

        & .label {
            opacity: 1;
        }
    }
}
