.svgWrapper {
    display: inline-block;
    vertical-align: center;

    & svg {
        width: auto;
        height: auto;
        display: block;  /* Remove little margin between the svg and its parent */
        user-select: none;
        fill: currentColor;
    }
}
