@import "../../../styles/colors";
@import "../../../styles/mixins/shapes";
@import "../../../styles/mixins/typography";

.container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.input {
    display: none;

    &:checked + .circle {
        border-color: var(--color-tan);
        background-color: var(--color-tan);

        & .badge {
            display: flex;
        }

        & + span {
            color: color(var(--color-armadillo) alpha(1));
        }
    }
}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    @mixin typography-body-2 rem;
    color: color(var(--color-armadillo) alpha(0.5));
    transition: color 0.2s ease;

    &.selectable:hover {
        color: color(var(--color-armadillo) alpha(1));
        cursor: pointer;

        & .circle {
            border-color: color(var(--color-mineral-green) alpha(0.5));
        }

        & .input:checked {
            & + .circle {
                border-color: color(var(--color-tan) alpha(0.8));
                background-color: color(var(--color-tan) alpha(0.8));
            }
        }
    }
}

.circle {
    @mixin circular-shape 4em;
    will-change: background-color, border-color;
    overflow: visible;
    margin-bottom: 1.5rem;
    border: 1px solid color(var(--color-mineral-green) alpha(0.2));
    color: var(--color-armadillo);
    font-size: 2rem;
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    fill: var(--color-armadillo);

    & > i {
        font-size: 1.5em;
    }
}

.badge {
    @mixin circular-shape 1.9em, var(--color-white);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.1rem;
    display: none;
    border: 1px solid var(--color-tan);
    color: var(--color-mineral-green);
    font-size: 1rem;

    & > i {
        font-size: 1em;
    }
}
