@import "../../src/styles/colors";

.armadillo {
    background-color: var(--color-armadillo);
}

.mineral-green {
    background-color: var(--color-mineral-green);
}

.tan {
    background-color: var(--color-tan);
}

.dawn-pink {
    background-color: var(--color-dawn-pink);
}

.ocean-green {
    background-color: var(--color-ocean-green);
}

.dune {
    background-color: var(--color-dune);
}

.monza {
    background-color: var(--color-monza);
}

.web-orange {
    background-color: var(--color-web-orange);
}

.cornflower-blue {
    background-color: var(--color-cornflower-blue);
}

.black {
    background-color: var(--color-black);
}

.white {
    background-color: var(--color-white);
}
