@import "../../styles/colors";
@import "../../styles/mixins/typography";

.textButton {
    padding: 0;
    border: 0;
    opacity: 0.8;
    background: none;
    color: var(--color-armadillo);
    font-size: 1rem;
    white-space: nowrap;
    transition-property: opacity, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:not([disabled]) {
        cursor: pointer;
    }

    &:hover,
    &:focus {
        opacity: 1;
    }

    &[disabled] {
        opacity: 0.3;
    }

    & .text {
        display: inline-block;
        vertical-align: middle;
    }

    & .icon {
        vertical-align: middle;
    }

    &.large {
        & .text {
            @mixin typography-body-1 rem;
        }

        &.left .icon {
            margin-right: 1.6rem;
            font-size: 1.6rem;
        }

        &.right .icon {
            margin-left: 1.6rem;
            font-size: 1.6rem;
        }
    }

    &.small {
        & .text {
            @mixin typography-body-2 rem;
        }

        &.left .icon {
            margin-right: 1.2rem;
            font-size: 1.2rem;
        }

        &.right .icon {
            margin-left: 1.2rem;
            font-size: 1.2rem;
        }
    }
}
