@import "../../styles/colors.css";
@import "../../styles/mixins/shapes.css";
@import "../../styles/mixins/typography.css";

.avatar {
    @mixin circular-shape 4em, color(var(--color-mineral-green) alpha(0.2));
    font-size: 2rem;

    & .initials {
        @mixin font-sectra;
        opacity: 0.8;
        color: var(--color-mineral-green);
        font-size: 1.4em;
    }

    & .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &.enter {
            opacity: 0;
        }

        &.enterActive {
            opacity: 1;
            transition: opacity 0.3s linear;
        }

        &.exit {
            opacity: 1;
        }

        &.exitActive {
            opacity: 0;
            transition: opacity 0.3s linear;
        }
    }
}
