@import "../../styles/colors.css";
@import "../../styles/mixins/shared.css";
@import "../../styles/mixins/typography.css";

.avatar {
    @mixin circular-shape 8, color(var(--color-mineral-green) alpha(0.2));

    & .initials {
        @mixin typography-h3 rem;
        opacity: 0.8;
        color: var(--color-mineral-green);
    }

    & .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
