@import "../../styles/colors";

:root {
    --spacing: 2rem;
    --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --layout-animation-duration: 0.6s;
    --opacity-transition-duration: 0.5s;
    --logo-container-height: 16.5rem;
}

@keyframes emptyToHalf {
    from { width: 0%; }
    to { width: 100%; }
}

@keyframes hideToRight {
    from { transform: translateX(0%); }
    to { transform: translateX(100%); }
}

@keyframes hideToLeft {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
}

@keyframes showFromRight {
    from { transform: translateX(100%); }
    to { transform: translateX(0%); }
}

@keyframes showFromLeft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0%); }
}

@keyframes rightHalfBorderedToWideExiting {
    from { width: 100%; }
    to { width: 0%; }
}

@keyframes leftHalfBorderedToWideExiting {
    from { flex-grow: 1; }
    to { flex-grow: 0; }
}

@keyframes halfBorderedToWideEntering {
    from { width: 0%; }
    to { width: 74%; }
}

.logoWrapper {
    padding-top: 7.5rem;
    padding-left: 7rem;
    opacity: 0;
    transition: opacity 0.1s ease;

    &.visible {
        opacity: 1;
        transition: opacity var(--opacity-transition-duration) ease;
    }

    & .logo {
        font-size: 0.9rem;
        fill: var(--color-tan);
    }
}

.lol {
    background: red;
}

.modalFlow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    background: rgba(250, 250, 250);

    &.halfPanel,
    &.halfPanelBordered,
    &.fullPanel {
        & .step {
            width: 100%;
            opacity: 0;
            transition: opacity var(--opacity-transition-duration) ease;

            &.active {
                z-index: 2;
                opacity: 1;
            }
        }
    }

    &.halfPanel,
    &.halfPanelBordered {
        & .step {
            height: 100%;
        }

        & .left {
            min-width: 33.4rem;
            flex-grow: 1;
        }

        & .right {
            width: 50%;
            min-width: 64rem;
        }
    }

    &.halfPanel {
        justify-content: flex-end;

        & .left {
            background: var(--color-mineral-green);

            &.emptyToHalf {
                position: relative;
                background: transparent;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    background: var(--color-mineral-green);
                    animation: emptyToHalf var(--layout-animation-duration) var(--ease-out-quint) forwards;
                }
            }

            &.halfToFullExiting {
                animation: hideToLeft var(--layout-animation-duration) var(--ease-out-quint) forwards;
            }

            &.fullToHalfEntering {
                animation: showFromLeft var(--layout-animation-duration) var(--ease-out-quint) forwards;
            }
        }
    }

    &.halfPanelBordered {
        & .left {
            &.halfBorderedToWideExiting {
                animation: leftHalfBorderedToWideExiting var(--layout-animation-duration) var(--ease-out-quint) forwards;
            }
        }

        & .right {
            margin: var(--spacing) 0;
            background: var(--color-mineral-green);

            &.halfBorderedToWideExiting {
                position: relative;
                background: transparent;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: var(--color-mineral-green);
                    animation: rightHalfBorderedToWideExiting var(--layout-animation-duration) var(--ease-out-quint) forwards;
                }
            }

            &.emptyToHalf {
                position: relative;
                background: transparent;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: var(--color-mineral-green);
                    animation: emptyToHalf var(--layout-animation-duration) var(--ease-out-quint) forwards;
                }
            }

            &.halfBorderedToFullExiting {
                animation: hideToRight var(--layout-animation-duration) var(--ease-out-quint) forwards;
            }

            &.fullToHalfBorderedEntering {
                animation: showFromRight var(--layout-animation-duration) var(--ease-out-quint) forwards;
            }
        }
    }

    &.widePanel {
        & .left {
            width: 26%;
            min-width: 33.4rem;
        }

        & .right {
            position: relative;
            width: 74%;
            height: 100%;

            &.wideToFullExiting {
                animation: hideToRight var(--layout-animation-duration) var(--ease-out-quint) forwards;
            }

            &.stepNotVisible {
                z-index: 1;

                &::after {
                    content: "";
                    position: absolute;
                    top: var(--spacing);
                    right: 0;
                    bottom: calc(var(--spacing) * 2);
                    left: 0;
                    background: var(--color-white);
                }
            }

            &.halfBorderedToWideEntering {
                animation: halfBorderedToWideEntering var(--layout-animation-duration) var(--ease-out-quint) forwards;
            }

            &.fullToWideEntering {
                animation: showFromRight var(--layout-animation-duration) var(--ease-out-quint) forwards;
            }

            & .wideStepsWrapper {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 2;
                opacity: 0;
                transition: opacity var(--opacity-transition-duration) ease;

                &.active {
                    opacity: 1;
                }

                & .step {
                    width: calc(100% - var(--spacing));
                    height: calc(100% - 3 * var(--spacing));
                    margin-top: var(--spacing);
                    margin-right: var(--spacing);
                    background: var(--color-mineral-green);
                    transition:
                        transform 1.2s cubic-bezier(0.23, 1, 0.32, 1),
                        width 1.2s cubic-bezier(0.23, 1, 0.32, 1),
                        background 1.2s cubic-bezier(0.23, 1, 0.32, 1);

                    &.fullWidth,
                    &.active {
                        width: 100%;
                        background: var(--color-white);
                    }

                    &.translateUp {
                        transform: translateY(2rem);
                    }
                }
            }
        }
    }

    &.fullPanel {
        & .step {
            height: calc(100% - var(--logo-container-height));
        }

        & .left {
            width: 100%;
            background: var(--color-mineral-green);

            &.halfToFullEntering {
                animation: showFromLeft var(--layout-animation-duration) var(--ease-out-quint) forwards;
            }

            &.fullToHalfExiting {
                animation: hideToLeft var(--layout-animation-duration) var(--ease-out-quint) forwards;
            }

            &.advanced {
                width: 0%;
                background: transparent;
            }
        }

        & .right {
            width: 0%;

            &.advanced {
                width: 100%;
                background: var(--color-mineral-green);

                &.wideToFullEntering,
                &.halfBorderedToFullEntering {
                    animation: showFromRight var(--layout-animation-duration) var(--ease-out-quint) forwards;
                }

                &.fullToWideExiting,
                &.fullToHalfBorderedExiting {
                    animation: hideToRight var(--layout-animation-duration) var(--ease-out-quint) forwards;
                }
            }
        }
    }
}
